body{
    padding-top: 70px; 
    background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;
    /* min-height: 100%; */
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
}
.navbar-default .navbar-toggle:hover{
    background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;
}
.navbar-default .navbar-toggle .icon-bar{
    background:  #474D57;
}
.hearder-name{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22.4262px;
    line-height: 17px;
    color: #1E2329;
}
.nav_list li a{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
   
}
.nav>li{
    border-bottom: 1px solid #EAECEF;
}
.nav_list li{
    padding-left: 0px;
    padding-right: 0px;
    
}


.hearder{
    background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;
}
.navbar-brand img{
    width: 114px;
    height: auto;
    float: left;
    margin-top: 1px
}
.navbar-brand{
    width: 200px;
}
.navbar-brand a{
    outline: none;
    text-decoration: none;
}
.navbar-brand span{
    display: block;
    float: left;
}
.navbar-default{
    background-color: #FFFFFF;
    /*background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;*/
}
.container{
    margin: 0 auto;
}
.banner_index{
    height: 692px;
    /* background-color: #ccc; */
}

/* .banner_index img{
    position: absolute;
    width: 470px;
    height: 550.54px;
    right: 2px;
    top: 53px;
} */
.left_img{
    position: absolute;
    width: 470px;
    height: auto;
    right: 2px;
    top: 53px;
}
.p1{
    margin-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #001C4E;
}
.p2{
    margin-top: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #181A20;
}
.bnner_btn{
    margin-top: 40px;
}
.bnner-btn-right{
    border-color: #ccc;
    width: 158px;
    height: 40px;
    background: #181A20;
    border-radius: 8px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.bnner-btn-left{
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 76px;
    height: 44px;
    background: #181A20;
    border-radius: 0px 8px 8px 0px;
    border-color: #ccc;
}
.dropdown-menu{
    min-width: 78px;
    background: #1E2329;
}
.dropdown-menu>li>a{
    
    color: #FFFFFF;
}
.dropdown-menu>li>a:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #181A20;
    color: #FFFFFF;
}
/* .bnner-btn-right :active{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #181A20;
    color:red;
    
} */
.bnner_btn button{
    background: #181A20;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    height: 44px;
}
.app_store{
    width: 133px;
    height: auto;
}
.app_store_q{
    width: 123px;
    height: auto;  
    margin: 0px auto;
    display: none;
}
.qcode{
    background-color: #000000;
    border-radius: 8px;
    margin-left: 15px;
    width: 133px;
    text-align: center;
    display: block;
    float: left;
    height: auto;
    /* padding-bottom: 10px; */
}


.google_play{
    width: 148.5px;
    margin-left: 15px;
    height: auto;
}
.bnner_btn button:hover{
    background: #181A20;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    height: 44px;
}

.navbar-default{
    background-color: #FFFFFF;
    border: 0px;
    margin-top: 0px;
   
}
.navbar-default .navbar-brand{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22.4262px;
    line-height: 17px;
    color: #1E2329;
    padding-top: 24px;
}
 
.navbar-default .navbar-nav>li>a {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 24px 15px;
}
.navbar-default .navbar-nav>li>a:hover{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: rgba(8, 2, 2, 0.781);
    /* border-bottom: 1px solid #000000; */
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
 
.navbar-default .navbar-toggle:hover {
    background-color: #FFFFFF;
}
.navbar-toggle{
    margin-top:15px;
    border: 0px;
}
.card_list{
    margin-top: 48px;
}

.card1{
    margin: 0px auto;
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #056FFA;
    margin: 0px auto;
    border-radius: 40px 40px 0px 40px; 
}
.card2{
    margin: 0px auto;
    margin-top: 32px; 
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #EBF7FF;
    border-radius: 40px 40px 40px 0px;
}
.card3{
    margin: 0px auto;
    margin-top: 32px;
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #EBF7FF;
    border-radius: 40px 0px 40px 40px;
}
.card4{
    margin: 0px auto;
    margin-top: 32px;
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #EBF7FF;
    border-radius: 40px 0px 40px 40px;
}
.card5{
    margin: 0px auto;
    margin-top: 32px;
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #056FFA;
    border-radius: 40px 0px 40px 40px;
}
.card6{
    margin: 0px auto;
    margin-top: 32px;
    padding: 32px;
    width: 100%;
    height: 320px;
    background: #056FFA;
    border-radius: 40px 40px 0px 40px;
}
.chard_img{
    width: 20px;
    height: auto;
}
.card_p1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: calc(100% - 84px);
    height: 100px;
    position:absolute;
    bottom: 32px;
    display: flex;
    align-items: flex-end;
}
.card_p2{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E2329;
    width: calc(100% - 84px);
    height: 100px;
    position:absolute;
    bottom: 32px;
    align-items: flex-end;
}
.con_end{
    text-align: center;
}
.con_end_p{
    width: 343px;
    margin: 0px auto;
    margin-top: 128px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #000000;
}
.bs-docs-footer{
    padding-top: 32px;
    padding-bottom: 50px;
 
    margin-bottom: 0px;
    height: 348px;
    color: #99979c;
    background-color: #181A20;
}
.footer_p{
    margin-top: 24px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    /*text-align: center;*/
    padding-left: 0px;
    color: #EAECEF;
    font-size: 14px;
    line-height: 20px;
}
.footer_img_1{
    margin: 0px auto;
    width: 20px;
    margin-left: 27px;
    height: auto;
}
.footer_img_2{
    width: 20px;
    height: auto;
    margin: 0px auto;
}
.footer_img_3{
    width: 20px;
    margin-right: 27px;
    height: auto;
    
}
.footer_img_3:hover{
    width: 20px;
    height: auto;
    cursor:pointer;
    
}

/* 内容页 */
.list_title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
}
.article_list{
    margin-left: 0;
    margin-top: 10px;
   
}
.list-group{
    
    background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;
   
}
.list-group-item{
    background: linear-gradient(0deg, rgba(77, 231, 220, 0.05), rgba(77, 231, 220, 0.05)), #FFFFFF;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    /* EAECEF */
    border-bottom: 1px solid #EAECEF;
    margin-top:16px;
    padding-bottom: 12px;
}

.article_a{
    color: #181A20;
}
.read_article{
    color: #474D57;
}

.detail_title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #181A20;
}
.article_content{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    height: auto;
    color: #181A20;
}
.add_date{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.dh_title > a{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E2329;
}
.end_dh{
    height: 92px;
    background: #EBF7FF;
    padding: 24px 16px;
}
.dh_title > a > img{
    width: 8px;
    height: 7px;
}
.article_content>.content{
    margin-top: 32px;
}
/* 新样式 */
.chard_img{
    width: 20px;
    height: auto;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}
.content_card{
    width: 330px;
    height: 74px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px;
}
.content_card_p{
    width: calc(100% - 46px);
    height: 74px;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1E2329;
}
.content_card_p p{
    margin-top: 0px;
    padding-top: 0px;
}
.bnner_img{
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.content_m_div{
    margin: 0px 10px;
}
.content_m_font1{
    color:  #001C4E;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.content_m_font2{
    color:  #001C4E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.content_bottom{
    color: #EAECEF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}
.content_bottom_line{
    height: 1px;
    background: #474D57;
}
.contactus_m-font1{
    color: #001C4E;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}
.contactus_m-font2{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.contactus_m-copy-icon{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    -webkit-mask: url('/images/tabler_copy.svg') no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #474D57;
    cursor: pointer;
    position: absolute;
    margin-top: 4px;
    display: inline-block;
}
.contactus_m-font3{
    color: #001C4E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.contactus_m-a1{
    color: #000;
    margin-left: -20px;
}
.contactus_m-a1:hover{
    color: #056FFA;
}
.contactus-copy-icon:hover{
    -webkit-mask: url('/images/tabler_copy-hover.svg') no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #056FFA;
    cursor: pointer;
}
.contactus_m-img{
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 311px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.product-menu-div1{
    border-radius: 8px 8px 0px 0px;
    background: white;
    height: 72px;
}
.product-menu-div2{
    border-radius: 8px 8px 0px 0px;
    background: white;
    height: 72px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.product-menu-div1-font1{
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, 'PingFang SC' !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: 24px;
    padding-top: 12px;
    padding-left: 24px;
}
.product-menu-div1-font2{
    color:  #474D57;
    font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, 'PingFang SC' !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 24px;
}
.product-menu-arrow-icon{
    height: 20px;
    width: 20px;
    -webkit-mask: url('/images/arrow-icon.svg') no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #474D57;
    cursor: pointer;
    margin-top: 25px;
    display: inline-block;
    margin-right: 24px;
    float: right;
}